@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@keyframes fill {
  0% {
    width:0%;
  }
  100% {
    width:100%;
  }
}

.animate{
  animation: 11s linear 0s 1 normal none running fill;
}

.parent:hover .child{
  filter:none
}
.clipo{
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
}
.clipi{
  clip-path:polygon(0px 30%, 100% 0%, 100% 70%, 0px 100%);
}
.clipps {
    clip-path: polygon(0% 27%, 100% 0%, 100% 73%, 0% 100%);
}
@media (min-width: 768px) {
  .clippsmall {
    clip-path: polygon(0% 27%, 100% 0%, 100% 73%, 0% 100%) !important;
  }
}
.clippsmall{
  clip-path:polygon(0% 13%, 100% 0%, 100% 87%, 0% 100%)
}
.clipt{
  clip-path:polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.swiper-pagination{
position:relative !important;
width:50% !important;
border-radius:5px;
height: 6px!important;
}
.swiper-pagination-progressbar-fill{
  border-radius:5px;
  background: white!important;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  
}
